.title {
    color: crimson;
}

.desc {
    color: crimson;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.carousel {
    width: 50%;
}

/* d-block {
    height: 100%;
    width: 100%;
} */